<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="favicon.ico"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link href="./public/html/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container" class="container">
<div id="topArea">
<!--网页的头部start-->
<div id="top">
	<div id="banner"><img src="./public/html/images/banner.jpg" width="1000" height="200" /></div>
	<div id="Nav_menu" >
            <UL>
              <LI><a href="index.php" id="n1" class="actived" title="茂名职业技术学院计算机工程系" target="_parent">首页</a></LI>
              {foreach $data as $value}
             <LI><a href="index.php?m=Show&cid={$value['categoryId']}" id="n2"  target="_parent">{$value['categoryName']}</a></LI>
             {/foreach}
             </UL>
      </div>
</div>
</body>
</html>